
obj/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.genruntimeconfig.cache
*.dll
*.cache
*.editorconfig
bin/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.pdb
bin/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.deps.json
.vs/RocketLeagueAchievementsClaimer/v16/.suo
bin/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.exe
*.json
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/RocketLeagueAchievementsClaimer.csproj.nuget.g.targets
obj/RocketLeagueAchievementsClaimer.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.pdb
obj/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.csproj.CopyComplete
obj/Debug/netcoreapp3.1/RocketLeagueAchievementsClaimer.AssemblyInfo.cs
bin/Release/netcoreapp3.1/RocketLeagueAchievementsClaimer.pdb
bin/Release/netcoreapp3.1/RocketLeagueAchievementsClaimer.exe
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/apphost.exe
obj/Release/netcoreapp3.1/RocketLeagueAchievementsClaimer.AssemblyInfo.cs
obj/Release/netcoreapp3.1/RocketLeagueAchievementsClaimer.csproj.CopyComplete
obj/Release/netcoreapp3.1/RocketLeagueAchievementsClaimer.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/RocketLeagueAchievementsClaimer.pdb
